services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: titanos_challenge_development
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  development:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bin/rails server -b 0.0.0.0 -p 3000
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/titanos_challenge_development
      RAILS_ENV: development

volumes:
  db-data:
